cython
gunicorn==20.0.4
beautifulsoup4==4.5.1
bokeh==0.12.3
colorcet==0.9.1
crispy-forms-foundation==0.5.4
Django==1.10.5
django-crispy-forms==1.6.1
django-docs==0.2.1
django-extensions==1.7.5
django-tables2==1.2.6
pandas==0.19.2
psycopg2==2.7.3.2
numpy==1.16.0
toolz==0.8.2
whitenoise==3.2.2
django-debug-toolbar==1.6
