container_commands:
  01_migrate:
    command: "django-admin.py migrate --no-input"
    leader_only: true
  02_createsu:
    command: "python manage.py createsuperuser"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: hbgd_data_store_server.settings
