// Brand Colors
// ----------------

// These colors can be mapped to app-specific variable names before using for clarity. These names allow for change appearance at a later time if needed.

$brand-primary: #43b02a; // PMS 361
$brand-primary-alt1: #007041; // PMS 7733 (dark)
$brand-primary-alt2: #a4d65e; // PMS 367 (light)

$brand-secondary: #00a3e0; // PMS 299
$brand-secondary-alt1: #006298; // PMS 7691 (dark)
$brand-secondary-alt2: #8bd3e6; // PMS 636 (light)

$brand-tertiary1: #c11a36; // PMS 200
$brand-tertiary1-alt: #8a2a2b; // PMS 7623

$brand-tertiary2: #f8d041; // PMS 129
$brand-tertiary2-alt: #daaa00; // PMS 110

$brand-tertiary3: #645f9b; // PMS 7669
$brand-tertiary3-alt: #403a60; // PMS 5265

$brand-tertiary4: #ee802c; // PMS 152
$brand-tertiary4-alt: #a1561c; // PMS 160

// Branded Grayscale
$brand-black: #101820; // PMS Black 6
$brand-gray1: #253746; // PMS 7546 (dark)
$brand-gray2: #4f758b; // PMS 5405 (light)
