{% extends 'base.html' %}
{% load static %}

{% block main %}

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="{% url 'home' %}"><span class="fa fa-home"></span> Data Store Explorer{% block page_title %}{% endblock page_title %}</a></h1>
      </li>
    </ul>
  </nav>
  <script src="{% static 'bower_components/foundation/js/vendor/jquery.js' %}" type="text/javascript"></script>
  <script src="{% static 'bower_components/ion.rangeSlider/js/ion.rangeSlider.js' %}" type="text/javascript"></script>
  <script src="{% static 'bower_components/jquery-ui/jquery-ui.js' %}" type="text/javascript"></script>

  {% block content %}
  {% endblock content %}

  <footer class="page-footer">
    <span>© {% now "Y" %} Bill & Melinda Gates Foundation. All Rights Reserved.</span>
    <ul class="footer-links">
      <li><a href="https://www.gatesfoundation.org/Privacy-and-Cookies-Notice" target="_blank">Privacy & Cookies Notice</a></li>
      <li><a href="https://www.gatesfoundation.org/Terms-of-Use" target="_blank">Terms Of Use</a></li>
      <li><a href="https://www.gatesfoundation.org/How-We-Work/General-Information/Reporting-Scams" target="_blank">Be Aware of Fraudulent Activity</a></li>
    </ul>
  </footer>

  {% block extrajavascript %}
    <script src="{% static 'bower_components/foundation/js/vendor/modernizr.js' %}" type="text/javascript"></script>
    <script src="{% static 'bower_components/foundation/js/foundation/foundation.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'bower_components/foundation/js/foundation/foundation.accordion.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'bower_components/foundation/js/foundation/foundation.tab.js' %}" type="text/javascript" charset="utf-8"></script>
    <script>
     $(document).foundation();
    </script>
  {% endblock extrajavascript %}

{% endblock main %}
